/*-----about us-----*/
.aboutus{
    width: 80%;
    margin: auto;
    
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    
}
.about-col img{
    width: 40%;
}
.about-col h1{
    padding-top: 0;

}
.about-col p{
    padding: 10px 0 25px;
}

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,3,0.7),rgba(4,9,30,0.7)),url(img1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
    margin-top: auto;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: relative;
}
nav img{
    width: 250px;
}
