/*-----about us-----*/
.aboutus{
    width: 80%;
    margin: auto;
    
    padding-bottom: 50px;
}
.card{
	color: white;
	width:100%;
	height:100vh;
	width:100vw;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
	url("https://t4.ftcdn.net/jpg/04/18/24/15/360_F_418241563_tjvYcmLJvyG0v4kd3APD1jQQr3CLa46J.jpg");
	background-size:cover;	
	background-position:center;
}
.about-col{
    flex-basis: 48%;
    
}
.about-col img{
    width: 40%;
}
.about-col h1{
    padding-top: 0;

}
.about-col p{
    padding: 10px 0 25px;
}

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,3,0.7),rgba(4,9,30,0.7)),url("img/img1.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
    margin-top: auto;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: relative;
}
nav img{
    width: 250px;
}
