<!DOCTYPE html>
<html>
    <head>
        <title>Parties and candidates</title>
        <link href="parties.css" rel="stylesheet">
    </head>
    <body >
        <input type="radio" name="photos" id="check1" checked>
        <input type="radio" name="photos" id="check2">

        <div class="container">
            <h1>Parties and Candidates</h1>
            <div class="top-content">
                <h3>Photo gallery</h3>
                <label for="check1">Party1</label>
                <label for="check2">Party2</label>
            </div>
        </div>
        
        <div class="photo-gallery">
            <div class="pic place">
                <img src="file:///D:/FALL_22-23/IWP/THEORY/DA1/Images/bg.jpg">
            </div>
            <div class="">
                <img src="">
            </div>
            <div class="">
                <img src="">
            </div>
            <div class="">
                <img src="">
            </div>
            <div class="">
                <img src="">
            </div>
            <div class="">
                <img src="">
            </div>
            <div class="">
                <img src="">
            </div>
            <div class="">
                <img src="">
            </div>
            <div class="">
                <img src="">
            </div>


        </div>
    </body>
</html>